{% extends 'base.html' %}

{% block title %} Dashboard {% endblock title %}

{% block content %}
<div class="bg-image" style="background: url('https://unsplash.com/photos/n20DUSVsUk8/download?force=true&w=1920')
    no-repeat center center fixed; 
    background-size: cover;
    min-height: 100vh;">
{% include 'navbar.html' %}
    <div class="text-center py-5">
        <h1><strong>Dashboard</strong></h1>
    </div>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for event in event_list %}
            <div class="col">
              <div class="card h-100 shadow rounded-4">
                <div class="card-header text-center">
                    {{ event.event_date.date }}
                  </div>
                <img src="https://cdn.discordapp.com/attachments/1021257672454066207/1028878266553073664/gantt.png" class="img-fluid rounded-4 px-2 py-2 box-shadow-sm" alt="...">
                <div class="card-body">
                    <h4 class="card-title">{{ event.event_name }}</h4>
                    <p class="card-text">
                        <div class="text-truncate">
                            <strong>Time:</strong> {{ event.event_date.time }} <br/>
                        </div>
                        <div class="text-truncate">
                            <strong>Event Organizer:</strong> {{ event.organizer }}
                        </div>
                        <div class="text-truncate">
                            <strong>Description:</strong> {{ event.description }} <br/>
                        </div>
                    </p>
              </div>
            </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="container text-center"><br>Made with ❤️ by Team 8<br></div>
</div>
{% endblock content %}
