<nav class="navbar navbar-expand-lg rounded-bottom sticky-top" style="background-color: #33767C; ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="https://cdn.discordapp.com/attachments/1021257672454066207/1030091365482233916/logo.png" style="width:3.8%"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0 text-white">
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Calendar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Inbox</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Profile
          </a>
          <ul class="dropdown-menu dropdown-menu-end rounded-4">
            <li><a class="dropdown-item rounded-4" href="#">
              Hello, <strong>{{ user.get_username }}</strong>!</a>
            </li>
            <li><a class="dropdown-item rounded-4" href="#">Edit Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item rounded-4" href="{% url 'logout' %}">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
      <!--<form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>-->
    </div>
  </div>
</nav>