{% extends 'base.html' %}

{% block content %}
<div class="bg-image" style="background: url('https://unsplash.com/photos/n20DUSVsUk8/download?force=true&w=1920')
    no-repeat center center fixed; 
    background-size: cover;
    ">
{% include 'navbar.html' %}
<br>
    <h5 class="text-left"><a class="badge badge-light"  href="{% url 'list-venue' %}">Back</a></h5>
    <div class="text-center py-5">
        <h1><strong>Search Results</strong></h1> 
    </div>
    <div class="container">
        
    </div>
    <div class="container text-center"><br>Made with ❤️ by Team 8<br></div>
</div>
{% endblock content %}