{% extends 'base.html' %}

{% block content %}
<div class="bg-image" style="background: url('https://unsplash.com/photos/n20DUSVsUk8/download?force=true&w=1920')
    no-repeat center center fixed; 
    background-size: cover;
    min-height: 100vh;">
{% include 'navbar.html' %}
    <br>
    <h5><a class="badge badge-light"  href="{% url 'show-venue' venue.id %}">  &lt;-- Back</a></h5>
    <div class="text-center py-5">
        <h1>Update <strong>{{ venue.venue_name }}</strong></h1>
    </div>
    <div class="container">
              <div class="card h-100 shadow rounded-4">
                <div class="card-header text-center">
                    <h5><strong>Venue Details</strong></h5>
                  </div>
                <!--<img src="https://cdn.discordapp.com/attachments/1021257672454066207/1028878266553073664/gantt.png" class="img-fluid rounded-4 px-2 py-2 box-shadow-sm" alt="...">-->
                <div class="card-body text-center">
                    <p class="card-text">
                        <form action="" method=POST>
                            {% csrf_token %}
                            {{ form.as_p }}
                            <br>
                            <input type="submit" value="Update" class="btn btn-secondary">
                        </form>
                    </p>
              </div>
            </div>
    </div>
    <div class="container text-center"><br>Made with ❤️ by Team 8<br></div>
</div>
{% endblock content %}