{% extends 'base.html' %}

{% block content %}
<div class="bg-image" style="background: url('https://unsplash.com/photos/n20DUSVsUk8/download?force=true&w=1920')
    no-repeat center center fixed; 
    background-size: cover;
    ">
{% include 'navbar.html' %}
    <div class="text-center py-5">
        <h1><strong>Venues</strong></h1>
        <a class="nav-link text-dark" href="{% url 'add-venue' %}">Add a Venue</a>
    </div>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for venue in venue_list %}
            <a href="{% url 'show-venue' venue.id %}" >
            <div class="col">
              <div class="card h-100 shadow rounded-4">
                <div class="card-header text-center">
                </div>
                <img src="https://cdn.discordapp.com/attachments/1021257672454066207/1028878266553073664/gantt.png" class="img-fluid rounded-4 px-2 py-2 box-shadow-sm" alt="...">
                <div class="card-body">
                    </a><h4 class="card-title">{{ venue.venue_name }}</h4>
                </div>
                </div>
            </div>
             </a>
            {% endfor %}
        </div>
    </div>
    <div class="container text-center"><br>Made with ❤️ by Team 8<br></div>
</div>
{% endblock content %}